<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    {{#each errorMessages}}
       <div>
        <div class="errorContainer">
            <p>{{this}}</p>
        </div>
    </div>
      {{/each}}

    <div id="container">

        <nav>
            <ul>
                <!--For all users-->
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <!--For loggin users-->
                {{#if isAuthenticated}}
                <li><a href="/create">Create Offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
                <!--For guest user-->
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}

            </ul>

        </nav>
    </div>
    {{{body}}}
    <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
</html>